{% extends  layout  %}
{% block mp_crud_content %}
<div class='Title'>Resource "{{ resource|default(resource.id) }}"</div>
<div>
    <table class="span12">
        <tbody>
        {% for prop in properties %}
            <tr>

            <tr>
                <td>
                    {{ prop }} :
                </td>
                <td>
<pre>
<code>
{% set _property= attribute(resource,prop) %}
{% if _property is datetime %}
{{ _property|date('r') }}
{% else %}
{{ _property }}
{% endif %}
</code>
</pre>

                </td>
            </tr>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div>
    <a href="{{ path(resourceName~"_index") }}">{{ resourceName }} index</a>
</div>
{% endblock %}